---
import type { AstroComponent } from "@lucide/astro"
import type { sevenBgColor, sevenTextColor } from "@utils/commonTypes"

interface Props {
  icon: AstroComponent
  title: string
  subtitle: string
  textColor: sevenTextColor
  bgColor: sevenBgColor
}
const { icon: Icon, title, subtitle, textColor, bgColor } = Astro.props as Props
---

<div
  class="flex flex-col rounded-2xl gap-3 md:gap-4 p-6 md:p-8 bg-white shadow"
>
  <div
    class={`${bgColor} rounded-lg size-12 md:size-16 flex items-center justify-center`}
  >
    <Icon class={`${textColor} size-8 md:size-9`} />
  </div>
  <h4 class={`${textColor} text-lg md:text-2xl font-bold`}>{title}</h4>
  <p class="text-xs md:text-sm text-slate-600">{subtitle}</p>
</div>
