---
import { Image } from "astro:assets"

interface Props {
  imageSrc: ImageMetadata
  title: string
  subtitle: string
  description: string
  cta: string
  href: string
}
const { imageSrc, title, subtitle, description, href, cta } = Astro.props
---

<div class="flex flex-col gap-2 md:gap-2.5 lg:gap-3 items-center">
  <Image
    src={imageSrc}
    alt={title}
    class="w-full h-48 object-cover rounded-lg"
  />
  <h5 class="text-base md:text-lg font-semibold text-pink-950 text-center">
    {title}
  </h5>
  <p class="text-sm md:text-base font-medium text-pink-400 text-center">
    {subtitle}
  </p>
  <p class="text-xs md:text-sm text-pink-950 text-center">
    {description}
  </p>
  <a
    href={href}
    class="text-xs md:text-sm mt-auto px-2 md:px-3 lg:px-4 py-1 md:py-1.5 lg:py-2 bg-pink-400 hover:bg-pink-500 text-white hover:underline rounded hover:cursor-pointer"
    >{cta}</a
  >
</div>
