---
import "../styles/global.css"
import Footer from "@components/Common/Footer/Footer.astro"
import MenuBar from "@components/Common/Menu/MenuBar.astro"
import SiteInfoBar from "@components/Common/Footer/SiteInfoBar.astro"
import type { SitePagesType } from "@utils/commonTypes"
import { Font } from "astro:assets"
import { getLangFromUrl } from "@i18n/utils"

interface Props {
  title: string
  description: string
  currentTab: SitePagesType
  ogTitle?: string
  ogDesc?: string
  keywords?: string
}
const lang = getLangFromUrl(Astro.url)
const { title, description, currentTab, ogTitle, ogDesc, keywords } =
  Astro.props
---

<html lang={lang}>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5RRV0YY4LT"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || []
      function gtag() {
        dataLayer.push(arguments)
      }
      gtag("js", new Date())

      gtag("config", "G-5RRV0YY4LT")
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Sakura Preschool" />
    <meta name="keywords" content={keywords} />
    <meta name="description" content={description} />
    <meta name="og:title" property="og:title" content={ogTitle} />
    <meta name="og:description" property="og:description" content={ogDesc} />
    <meta name="robots" content="index, follow" />
    <title>{title}</title>
    <Font cssVariable="--font-vietnam-pro" preload />
    <Font cssVariable="--font-jakarta-sans" preload />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    <MenuBar selectedTab={currentTab} />
    <slot />
    <Footer />
    <SiteInfoBar />
  </body>
</html>

<style>
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-jakarta-sans);
  }
  body,
  p,
  a {
    font-family: var(--font-vietnam-pro);
  }
</style>
